Source: com.github.tom95.indicator-synapse
Section: x11
Priority: optional
Maintainer: Tom Beckmann <tomjonabc@gmail.com>
Build-Depends: debhelper (>= 10.2.2),
               gettext,
               cmake (>= 2.8),
               valac (>= 0.36.12),
               libwingpanel-2.0-dev,
               libzeitgeist-2.0-dev (>= 0.9.14),
               libgtk-3-dev (>= 3.0.0),
               libnotify-dev (>= 0.7.6),
               librest-dev (>= 0.7.93),
               libglib2.0-dev (>= 2.28.0),
               libgee-0.8-dev (>= 0.5.2),
               libjson-glib-dev (>= 0.10.0),
               libkeybinder-3.0-dev

Standards-Version: 3.9.7
Package: com.github.tom95.indicator-synapse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Recommends: zeitgeist (>= 0.9.14) | zeitgeist-core (>= 0.9.14), consolekit, pastebinit, upower
Description: search indicator
 A search indicator for your wingpanel. Powered by Synapse.
